body {
    background-color: #eeee

    }
/* .caja {
        margin: 8px;
        background-color: #aaf;
        padding: 8 cm;
        border-style: solid;
        border-width: 8px;
        border-color: #faa;
        border-left: 6px solid #afa;
        background-color: #aaf;
        border-radius: 100px;
        height: 100px;
        width: 100px;
        color: #575757;

} */
p {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 1,5cm;     
    font-weight: bold;
color:222fff;
/* text-align: center; */
text-align: justify;
text-decoration: underline;
text-indent: 40px;
line-height: 1,7;
word-spacing: 10px;
text-shadow: 3px 2px rgba(0, 0, 0, 0.5);

}
/* a {
 text-decoration: overline;
 text-transform: lowercase;
letter-spacing: 3px;
word-spacing: 10px;
} */
